@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");


.user_sign_container{
    font-family: "Inter Tight", sans-serif;
    background-image: url('../../assets/travelbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backdrop-filter: blur(10px); 
    backdrop-filter: blur(10px); 
    
    
    
}